@charset "utf-8";
/* CSS Document */

body {
	color: black;
	background-color: lightgreen;
	padding: 0px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	letter-spacing: 1px;
}

h1 {
	font-weight: bold;
}

label {
	display: block;
}

input {
	padding: 5px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

#add_btn, #add_btn:focus {
	background-color: darkgreen;
	color: white;
	margin-top: 10px; 
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

li {
	text-align: left;
	font-size: 15px;
	margin-bottom: 15px;
}

#checkbox {
	position: absolute;
	right: 35%;
}

#all_complete_btn {
	background-color: darkgreen;
	color: white;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
}

#completed_btn {
	background-color: lightblue;
	color: black;
	font-size: 15px;
	position: absolute;
	right: 18%;
	border: 1px solid black;
	border-radius: 5px;
}

#remove_btn {
	background-color: red;
	color: white;
	font-size: 15px;
	position: absolute;
	right: 5%;
	border: 1px solid black;
	border-radius: 5px;
}

.done {
	text-decoration: line-through;
}

hr {
	border-top: 2px solid black;
}

.footer {
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
	color: black;
	font-size: 0.7em;
	font-weight: bold;
}

@media screen and (min-width: 1200px) {
  	#completed_btn {
		right: 15%;
	}
	#remove_btn {
		right: 10%;
	}
	li {
		margin-left: 5%;
		font-size: 18px;
	}
}



/* ------------ Copyright © Ali Abedi [August 2020] ------------ */