@charset "utf-8";
/* CSS Document */

body {
	color: black;
	background-color: #dfbac9;
	margin-top: 10%;
	padding: 0px;
	text-align: center;
	font-family: monospace;
	letter-spacing: 1px;
}

h1 {
	font-weight: bold;
}

input {
	padding: 5px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

#add_btn, #add_btn:focus {
	background-color: lightgreen;
	color: black; 
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

ul {
	margin-top: 7%;
}

li {
	text-align: left;
	font-size: 15px;
	margin-bottom: 15px;
}

#checkbox {
	position: absolute;
	right: 35%;
}

#completed_btn {
	background-color: white;
	color: black;
	font-size: 15px;
	position: absolute;
	right: 18%;
	border: none;
	border-radius: 5px;
}

#remove_btn {
	background-color: #ff8f8f;
	color: black;
	font-size: 15px;
	position: absolute;
	right: 5%;
	border: none;
	border-radius: 5px;
}

.done {
	text-decoration: line-through;
	color: grey;
}

@media screen and (min-width: 1200px) {
  	#completed_btn {
		right: 15%;
	}
	#remove_btn {
		right: 10%;
	}
	li {
		margin-left: 5%;
		font-size: 18px;
	}
}



/* ------------ Copyright © Ali Abedi [August 2020] ------------ */